html, body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  background: -webkit-radial-gradient(center, ellipse cover, #4824a3 0%, #250f59 63%, #250f59 100%); }

<<<<<<< HEAD

=======
  
>>>>>>> e62841f0d582601955e479c8767db60ae76ce928
#demo-canvas {
  float: left;
  position: absolute;
  z-index: 0;
  opacity: 0.5;
  filter: alpha(opacity=50); }

#large-header {
  background: -webkit-radial-gradient(center, ellipse cover, #4824a3 0%, #250f59 63%, #250f59 100%); }

.color_green {
  color: #04F3C4; }

.side_l_page {
<<<<<<< HEAD
  height: 86vh;
  z-index: 999999
}
  .side_l_page svg {
    max-width: 100%;
    margin-top: 20px;
    margin-left: 40px;
  }
=======
  height: 86vh; }
  .side_l_page svg {
    max-width: 100%;
    margin-top: 20px;
    margin-left: 40px; }
>>>>>>> e62841f0d582601955e479c8767db60ae76ce928
  .side_l_page p {
    font-family: 'Titillium Web', sans-serif;
    font-size: 0.8em;
    transform: rotate(180deg);
    writing-mode: tb-rl;
    margin-top: 140px;
    margin-left: 40px;
    color: #FFFFFF;
    font-size: 0.8em; }

.menu {
  font-family: 'Titillium Web', sans-serif;
  letter-spacing: 2px;
  width: 100%;
  height: 80px;
  text-align: center;
  color: #FFFFFF; }
  .menu span {
    display: inline-block;
    padding-top: 30px;
    margin-left: 10px;
    margin-right: 10px; }
  .menu hr {
    width: 100%;
    height: 1px;
    border: 0;
    padding: 0;
    margin-top: 25px;
    border-bottom: 1px solid #422192; }

.discription {
  height: 100%; }
  .discription .topic_top {
    height: 120px; }
    .discription .topic_top .topic_box_l {
      color: #FFFFFF; }
      .discription .topic_top .topic_box_l .p_l_topic {
        font-family: 'Titillium Web', sans-serif;
        font-weight: 600;
        font-size: 2.5em;
        margin: 0;
        padding: 0;
        border: 0;
        z-index: 999999; }
      .discription .topic_top .topic_box_l span {
        font-family: 'Titillium Web', sans-serif;
        font-weight: 600;
        font-size: 1em;
        margin: 0px;
        padding: 0px;
        border: 0; }
    .discription .topic_top .topic_box_r {
      margin-top: 40px; }
      .discription .topic_top .topic_box_r .topic_r_a, .discription .topic_top .topic_box_r .topic_r_b {
        font-family: 'Titillium Web', sans-serif;
        color: #FFFFFF;
        font-size: 1.125em; }
      .discription .topic_top .topic_box_r .topic_r_b {
        font-size: 1.5em; }
    .discription .topic_top .topic_side_r {
      font-family: 'Titillium Web', sans-serif;
      font-size: 0.8em;
      transform: rotate(180deg);
      writing-mode: tb-rl;
      text-align: right;
      height: 160px;
      color: #FFFFFF;
<<<<<<< HEAD
      margin-top: -150px; }
=======
      margin-top: 30px; }
>>>>>>> e62841f0d582601955e479c8767db60ae76ce928
  .discription .box_wrap_work {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 2000px; }
    .discription .box_wrap_work .box_a, .discription .box_wrap_work .box_b {
<<<<<<< HEAD
      /*background-image: url("../../image_web/creator_bg.jpg");*/
      background-color: gray;
      width: 240px;
      height: 240px;
      margin-top: 70px; }
    .discription .box_wrap_work .box_b {
      margin-top: 20px;
=======
      background-image: url("../../image_web/creator_bg.jpg");
      width: 240px;
      height: 240px;
      margin-top: 30px; }
    .discription .box_wrap_work .box_b {
      margin-top: -20px;
>>>>>>> e62841f0d582601955e479c8767db60ae76ce928
      margin-left: 20px;
      margin-right: 20px; }

.pos_fix {
  position: fixed;
  overflow: auto;
  z-index: 10;
  bottom: 0;
  width: 100%; }
  .pos_fix .main_menu {
    height: 14vh;
<<<<<<< HEAD
    border-top: 2px solid #04F3C4; }
=======
    border-top: 2px solid #422192; }
>>>>>>> e62841f0d582601955e479c8767db60ae76ce928
    .pos_fix .main_menu .btn_menu {
      width: 60px;
      height: 60px;
      background-color: #04F3C4;
      margin-top: 15px;
      cursor: pointer; }
      .pos_fix .main_menu .btn_menu img {
        max-width: 100%;
        margin-top: 20px;
        margin-left: 16px; }
    .pos_fix .main_menu .menu_r {
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap; }
      .pos_fix .main_menu .menu_r ul {
        list-style: none;
        margin-top: 20px;
<<<<<<< HEAD
        border: 1px solid #04F3C4;
=======
        border: 1px solid #422192;
>>>>>>> e62841f0d582601955e479c8767db60ae76ce928
        height: 50px;
        padding-top: 14px;
        width: 1040px;
        white-space: nowrap; }
        .pos_fix .main_menu .menu_r ul li {
          color: #FFFFFF;
          font-family: 'Titillium Web', sans-serif;
          letter-spacing: 2px;
          font-weight: 400;
          font-size: 0.96em;
          display: inline;
          margin-left: 10px;
          margin-right: 10px; }
<<<<<<< HEAD
          .box_cate {
              margin-top: 75%;
              color: white;
          }
          .box_cate p {
            font-size: 12px;
          }
          .box_count {
            background-image: url("../../image_web/bg_creator.png");
            background-repeat: no-repeat;
            padding-left: 5px;
          }

::-webkit-scrollbar {
  display: none; }
  @media screen and (min-width: 425px) and (max-width: 800px) {
    .discription .box_wrap_work {
        overflow-x: none;
        overflow-y: hidden;
        white-space: nowrap;
        width: auto;
        margin-bottom: 120px;
    }
    .discription .box_wrap_work .box_a,.discription .box_wrap_work .box_b {
      /*background-image: url("../../image_web/creator_bg.jpg");*/
      background-color: gray;
      max-width: 176px;
      max-height: 176px;
      margin-top: 20px;
      margin-left: 10px;
      margin-right: 10px;
    }
    .side_l_page {
      height: 60vh;
      position: relative;
    }
      .side_l_page svg {
        margin-top: 0px;
        margin-left: 5px; }
      .side_l_page p {
        margin-left: 5px;
    }
    .topic_box_l, .topic_top {
      display: none;
    }
    .discription .topic_top .topic_box_r {
      display: none;
      }
    .discription .topic_top .topic_side_r {
      margin-top: 150px;
    }
    .box_cate h4 {
      font-size: 20px;
    }
  }
  @media screen and (max-width: 424px) {
    .discription .box_wrap_work {
        overflow-x: none;
        overflow-y: hidden;
        white-space: nowrap;
        width: auto;
        margin-bottom: 150px;
    }
    .discription .box_wrap_work .box_a,.discription .box_wrap_work .box_b {
      /*background-image: url("../../image_web/creator_bg.jpg");*/
      background-color: gray;
      max-width: 162px;
      max-height: 162px;
      margin-top: 20px;
      margin-left: 10px;
      margin-right: 10px;
    }
      .menu span {
        display: none; }
        .menu hr {
          height: 10px;
        }
    .side_l_page {
      height: 15vh;
      position: static;
    }
      .side_l_page svg {
        margin-top: 0px;
        margin-left: 5px; }
      .side_l_page p {
        display: none;
    }
    .discription .topic_top .topic_box_r {
      display: none;
      }
      .discription .topic_top .topic_side_r {
        display: none;
      }
      .box_cate {
          margin-top: 75%;
          color: white;
      }
      .box_cate h4 {
        font-size: 15px;
      }
  }
=======

::-webkit-scrollbar {
  display: none; }
>>>>>>> e62841f0d582601955e479c8767db60ae76ce928

/*# sourceMappingURL=style_index.css.map */
