html, body {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: #250F59; }

.row {
  background-color: #250F59; }

.right_content {
  display: block; }

.func_discription {
  background-color: transparent;
  margin: 0px;
  border: 0px; }
  .func_discription h4 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    color: #FFFFFF; }
  .func_discription p {
    text-indent: 0px;
    font-size: 0.8em; }

.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%; }

.icon-scroll {
  width: 30px;
  height: 50px;
  margin-left: -20px;
  top: 50%;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
  margin-top: 250px; }

.icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll; }

@-webkit-keyframes scroll {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
    transform: translateY(46px); } }
@keyframes scroll {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
    transform: translateY(46px); } }
#demo-canvas {
  width: 100%;
  float: left;
  position: absolute;
  height: 656px;
  z-index: 0;
  opacity: 1;
  filter: alpha(opacity=50);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center; }

#large-header {
  background: -webkit-radial-gradient(center, ellipse cover, #4824a3 0%, #250f59 63%, #250f59 100%); }

.container-fluid {
  margin-bottom: 100px; }

::-webkit-scrollbar {
  display: none; }

.video_showreel {
  font-family: 'Titillium Web', sans-serif;
  letter-spacing: 2px;
  height: 80px;
  color: #FFFFFF;
  text-align: right;
  float: right;
  padding-right: 200px;
  margin-top: -550px;
  padding-right: 50px; }

.menu {
  font-family: 'Titillium Web', sans-serif;
  letter-spacing: 2px;
  width: 100%;
  height: 80px;
  text-align: center;
  color: #FFFFFF;
  margin-left: 27px;
  display: block; }
  .menu span {
    display: inline-block;
    padding-top: 30px;
    margin-left: 10px;
    margin-right: 10px; }
  .menu hr {
    width: 100%;
    height: 1px;
    border: 0;
    padding: 0;
    margin-top: 25px;
    border-bottom: 1px solid #422192; }

.info {
  font-family: 'Titillium Web', sans-serif;
  letter-spacing: 2px;
  margin-left: 60px;
  margin-top: 200px;
  color: #fff; }
  .info h2 {
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
    margin-top: -5px;
    font-family: 'Kanit', sans-serif; }

.wrap_sec_user_pin {
  position: absolute;
  top: 130px; }
  .wrap_sec_user_pin .wrap_user_pinterest {
    float: left;
    width: 150px;
    height: 0;
    border-right: 10px solid transparent;
    border-top: 25px solid #000000;
    position: relative; }
    .wrap_sec_user_pin .wrap_user_pinterest .user_pinterest {
      font-family: 'Titillium Web', sans-serif;
      font-size: 0.8em;
      font-weight: 600;
      color: #FFFFFF;
      position: absolute;
      top: -19px;
      left: 10px; }

@media screen and (min-width: 319px) {
  .wrap_nav_top {
    height: 136px; }
    .wrap_nav_top .box_nav_top_l, .wrap_nav_top .box_nav_top_r {
      height: 100px;
      margin-top: 20px;
      margin-left: 25px; }
      .wrap_nav_top .box_nav_top_l img, .wrap_nav_top .box_nav_top_r img {
        max-width: 80%; }
    .wrap_nav_top .box_nav_top_r img {
      max-width: 70%;
      float: right;
      margin-top: 30px; }
    .wrap_nav_top hr {
      width: 100%;
      margin-top: 15px;
      border-color: #fff;
      float: left; }

    .box_nav_top_l{
      svg{
        width: 400px;
      }
    }

  .bottomMenu {
    position: fixed;
    bottom: 0;
    z-index: 1;
    transition: all 1s; }

  .hide {
    opacity: 0;
    left: -100%; }

  .show {
    opacity: 1;
    left: 0; }

  .wrap_banner {
    background-color: #04F3C4;
    height: 200px;
    overflow: hidden;
    position: relative;
    margin-top: -50px; }
    .wrap_banner img {
      position: absolute;
      left: -100px;
      width: 1100px;
      height: auto; }

  .right_content {
    display: none; }

  .container {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

  .video-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    pointer-events: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

  .video-wrap .video-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: black; } }
@media screen and (min-width: 319px) and (min-width: 400px) {
  .video-wrap .video-inner {
    width: 3vw;
    height: 3vw;
    border: 20px solid #FFF;
    -webkit-transform: rotateZ(-5deg);
    transform: rotateZ(-5deg); } }
@media screen and (min-width: 319px) {
  .video-wrap .video-player {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); } }
@media screen and (min-width: 319px) and (min-width: 400px) {
  .video-wrap .video-player {
    left: 50%;
    top: 0;
    width: auto;
    height: 100vh;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); } }
@media screen and (min-width: 319px) {
  .video-wrap.video-wrap--show {
    pointer-events: auto; }

  .video-wrap.video-wrap--show .action--close {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition-delay: 1200ms;
    transition-delay: 1200ms; }

  .video-wrap.video-wrap--show .video-inner {
    opacity: 1; } }
@media screen and (min-width: 319px) and (min-width: 400px) {
  .video-wrap.video-wrap--show .video-inner {
    opacity: 0;
    -webkit-animation: showVideo 1250ms forwards;
    animation: showVideo 1250ms forwards; } }
@media screen and (min-width: 319px) and (min-width: 400px) {
  .video-wrap.video-wrap--hide .video-inner {
    -webkit-animation: hideVideo 1250ms forwards;
    animation: hideVideo 1250ms forwards; } }
@media screen and (min-width: 319px) {
  .content {
    position: relative;
    margin-top: 80px; }

  .content .loader {
    font-size: 2.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    -webkit-transition: opacity 300ms;
    transition: opacity 300ms; }

  .video-loaded .content .loader {
    opacity: 0;
    pointer-events: none; }

  .action {
    background: none;
    border: none;
    border-radius: 4rem;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    margin: 0;
    padding: 1rem 2rem;
    color: #FFF;
    font-size: 1.5rem;
    font-weight: bold;
    overflow: hidden;
    position: relative; }

  .action.action--play {
    display: block;
    margin: 1rem auto;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 300ms;
    transition: opacity 300ms; }

  .video-loaded .action.action--play {
    opacity: 1;
    pointer-events: auto; }

  .action.action--close {
    position: absolute;
    z-index: 1000;
    top: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    padding: 0;
    opacity: 0;
    -webkit-transform: scale3d(0.7, 0.7, 1);
    transform: scale3d(0.7, 0.7, 1);
    -webkit-transition: opacity 300ms, -webkit-transform 300ms;
    transition: opacity 300ms, -webkit-transform 300ms;
    transition: transform 300ms, opacity 300ms;
    transition: transform 300ms, opacity 300ms, -webkit-transform 300ms; }

  .action .action__label {
    display: inline-block;
    margin: 0 0 0 0.75rem; }

  .action .action__label.action__label--hidden {
    position: absolute;
    top: 100%; }

  @-webkit-keyframes showVideo {
    50% {
      width: 25vw;
      height: 25vw;
      opacity: 1;
      -webkit-transform: rotateZ(-5deg);
      transform: rotateZ(-5deg); }
    100% {
      width: 100vw;
      height: 100vh;
      opacity: 1;
      -webkit-transform: rotateZ(0deg);
      transform: rotateZ(0deg); } }
  @keyframes showVideo {
    50% {
      width: 25vw;
      height: 25vw;
      opacity: 1;
      -webkit-transform: rotateZ(-5deg);
      transform: rotateZ(-5deg); }
    100% {
      width: 100vw;
      height: 100vh;
      opacity: 1;
      -webkit-transform: rotateZ(0deg);
      transform: rotateZ(0deg); } }
  @-webkit-keyframes hideVideo {
    0% {
      width: 100vw;
      height: 100vh;
      opacity: 1;
      -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 0deg);
      transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 0deg); }
    100% {
      width: 100vw;
      height: 100vh;
      opacity: 0;
      -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 0deg);
      transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 0deg); } }
  @keyframes hideVideo {
    0% {
      width: 100vw;
      height: 100vh;
      opacity: 1;
      -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 0deg);
      transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 0deg); }
    100% {
      width: 100vw;
      height: 100vh;
      opacity: 0;
      -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 0deg);
      transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 0deg); } }
  .wrap_top_bg {
    background-color: #04F3C4;
    overflow: hidden;
    position: relative;
    margin-top: -136px;
    height: 650px; }
    .wrap_top_bg img {
      position: absolute;
      left: -100px;
      width: 1100px;
      height: auto; }

  .wrap_concept, .wrap_design_process, .wrap_function, .wrap_tool, .wrap_dev_by {
    height: auto;
    padding-bottom: 30px; }
    .wrap_concept h3, .wrap_design_process h3, .wrap_function h3, .wrap_tool h3, .wrap_dev_by h3 {
      font-family: 'Titillium Web', sans-serif;
      font-weight: 600;
      font-size: 2.2em;
      color: #FFFFFF;
      margin-top: 30px;
      margin-bottom: 20px;
      letter-spacing: 3px; }
    .wrap_concept p, .wrap_design_process p, .wrap_function p, .wrap_tool p, .wrap_dev_by p {
      text-indent: 2em;
      font-size: 0.9em;
      color: #FFFFFF; }

  .wrap_design_process .wrap_dp_user {
    width: auto;
    height: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    outline: none; }
    .wrap_design_process .wrap_dp_user .dp_img_user_a, .wrap_design_process .wrap_dp_user .dp_img_user_b {
      height: auto;
      min-height: 100px;
      float: none;
      list-style-type: none;
      display: inline-block !important; }
    .wrap_design_process .wrap_dp_user .dp_img_user_b {
      margin-left: 20px; }

  .wrap_function .mockup_nb {
    min-height: 300px;
    background-image: url("../../image_web/mock_nb.png");
    background-size: cover;
    background-position: center 30px; }
  .wrap_function .func_a {
    min-height: 100px;
    cursor: pointer; }
    .wrap_function .func_a .func_number {
      background-color: transparent;
      background-image: url("../../image_web/func_element.png");
      background-repeat: no-repeat;
      background-position: 50px 15px;
      background-size: 35%;
      height: auto;
      min-height: 70px; }
      .wrap_function .func_a .func_number h4 {
        font-family: 'Titillium Web', sans-serif;
        letter-spacing: 2px;
        font-weight: 600;
        color: #FFFFFF;
        font-size: 1.6em;
        margin-left: 35%;
        margin-top: 24%; }
    .wrap_function .func_a .func_discription {
      background-color: transparent;
      margin: 0px;
      border: 0px; }
      .wrap_function .func_a .func_discription h4 {
        font-family: 'Titillium Web', sans-serif;
        font-weight: 600;
        letter-spacing: 2px;
        color: #FFFFFF; }
      .wrap_function .func_a .func_discription p {
        text-indent: 0px;
        font-size: 0.8em; }
  .wrap_function .func_active {
    background-color: #04F3C4;
    border-radius: 0 10px 10px 0; }
    .wrap_function .func_active .func_number h4 {
      color: #333333; }
    .wrap_function .func_active .func_discription h4 {
      color: #333333; }
    .wrap_function .func_active .func_discription p {
      color: #333333; }

  .wrap_tool {
    background-color: transparent; }
    .wrap_tool .c100 {
      font-size: 65px; }
      .wrap_tool .c100 span {
        font-family: 'Titillium Web', sans-serif;
        font-weight: 600;
        letter-spacing: 2px; }
    .wrap_tool p {
      font-family: 'Titillium Web', sans-serif;
      font-weight: 600;
      letter-spacing: 2px;
      text-align: left;
      margin-left: -10px; }

  .wrap_dev_by {
    margin: 0px;
    padding: 0px;
    border: 0px; }
    .wrap_dev_by .img_dev_user {
      min-height: 250px;
      background-color: #333333;
      overflow: hidden;
      position: relative; }
      .wrap_dev_by .img_dev_user img {
        max-width: 160%;
        position: absolute;
        height: auto;
        right: -60px; }
    .wrap_dev_by .wrap_quote_user {
      background-color: #EF4350;
      height: 60%;
      margin-top: 30px;
      margin-bottom: 20px;
      padding-bottom: 80px; }
      .wrap_dev_by .wrap_quote_user h4 {
        font-family: 'Titillium Web', sans-serif;
        font-weight: 400;
        font-size: 2em;
        letter-spacing: 2px;
        text-align: left;
        color: #FFFFFF;
        margin-top: 30px;
        margin-left: 20px; }
      .wrap_dev_by .wrap_quote_user p {
        font-family: 'Titillium Web', sans-serif;
        font-weight: 400;
        font-size: 1em;
        letter-spacing: 2px;
        text-align: left;
        text-indent: 3em;
        text-transform: uppercase;
        margin-top: 40px;
        padding-left: 20px;
        padding-right: 20px; }

  .wrap_footer {
    height: 100px;
    width: 100%;
    position: fixed;
    bottom: 0;
    margin-left: 15px; }
    .wrap_footer .wrap_r_footer {
      background-color: #000000;
      background: linear-gradient(rgba(37, 15, 89, 0), #000000);
      height: 100px; }
      .wrap_footer .wrap_r_footer .wrap_footer_l {
        height: 100px;
        margin: 0px;
        padding: 0px; }
        .wrap_footer .wrap_r_footer .wrap_footer_l button {
          width: 70px;
          height: 70px;
          margin: 0;
          margin-top: 15px;
          margin-left: 10px;
          border: none;
          background-color: #04F3C4;
          opacity: 1; }
      .wrap_footer .wrap_r_footer .wrap_footer_r {
        height: 100px; }
        .wrap_footer .wrap_r_footer .wrap_footer_r p {
          font-family: 'Titillium Web', sans-serif;
          font-size: 0.8em;
          margin-top: 25px;
          color: #FFFFFF; }
        .wrap_footer .wrap_r_footer .wrap_footer_r .wrap_topic_footer {
          float: left; }
          .wrap_footer .wrap_r_footer .wrap_footer_r .wrap_topic_footer .topic_footer {
            font-family: 'Titillium Web', sans-serif;
            font-size: 1.2em;
            font-weight: 600;
            color: #FFFFFF; }
        .wrap_footer .wrap_r_footer .wrap_footer_r .wrap_user_footer {
          float: left;
          width: 80px;
          height: 0;
          margin-left: 10px;
          border-right: 10px solid transparent;
          border-top: 25px solid #FFFFFF;
          position: relative; }
          .wrap_footer .wrap_r_footer .wrap_footer_r .wrap_user_footer .user_footer {
            font-family: 'Titillium Web', sans-serif;
            font-size: 0.7em;
            font-weight: 600;
            position: absolute;
            top: -19px;
            left: 3px; }

  .tablet {
    display: none; } }
@media screen and (min-width: 767px) {
  .tablet {
    display: block; }

    .right_content {
      display: block; }

  .wrap_nav_top .wrap_menu_top_text {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.2em;
    display: inline-block;
    padding-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    z-index: 1; }
    .wrap_nav_top .wrap_menu_top_text ul {
      list-style-type: none;
      color: #FFFFFF;
      margin-top: 50px;
      text-align: center; }
      .wrap_nav_top .wrap_menu_top_text ul li {
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
        letter-spacing: 2px; }
  .wrap_nav_top .box_nav_top_r img {
    max-width: 100%;
    float: right;
    margin-top: 35px; }
  .wrap_nav_top hr {
    width: 80%;
    height: 1px;
    float: none;
    margin-left: auto;
    margin-right: auto; }

  .wrap_banner {
    background-color: #250F59;
    margin-top: 95px; }
    .wrap_banner img {
      left: 60px; }

  .wrap_dev_by .img_dev_user {
    min-height: 330px; }
    .wrap_dev_by .img_dev_user img {
      max-width: 100%;
      left: 0; }

  .wrap_footer .wrap_r_footer {
    padding-right: 0px; }
    .wrap_footer .wrap_r_footer .wrap_footer_r p {
      margin-top: 10px;
      font-size: 1.1em;
      padding-top: 10px; }
    .wrap_footer .wrap_r_footer .foot_email, .wrap_footer .wrap_r_footer .foot_fb {
      background-color: #34353C;
      height: 100px; }
      .wrap_footer .wrap_r_footer .foot_email h4, .wrap_footer .wrap_r_footer .foot_fb h4 {
        font-family: 'Titillium Web', sans-serif;
        font-size: 0.7em;
        font-weight: 400;
        color: #FFFFFF;
        margin-top: 30px;
        padding: 0px;
        margin: 0px;
        margin-top: 40px;
        margin-left: 20px; }
      .wrap_footer .wrap_r_footer .foot_email p, .wrap_footer .wrap_r_footer .foot_fb p {
        font-family: 'Titillium Web', sans-serif;
        font-size: 0.9em;
        font-weight: 400;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-left: 20px; }
    .wrap_footer .wrap_r_footer .foot_fb {
      background-color: #4862A2; }
      .wrap_footer .wrap_r_footer .foot_fb .wrap_logo_face {
        background-color: transparent; }
        .wrap_footer .wrap_r_footer .foot_fb .wrap_logo_face img {
          float: right;
          display: block;
          max-width: 90%;
          margin-top: 35px;
          padding: 0px; }
      .wrap_footer .wrap_r_footer .foot_fb h4 {
        margin-left: 0px; }
      .wrap_footer .wrap_r_footer .foot_fb p {
        margin-left: 0px; } }
@media screen and (min-width: 959px) {
  .wrap_nav_top .wrap_menu_top_text {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.2em;
    margin-top: 20px;
    margin-left: 25px; }
    .wrap_nav_top .wrap_menu_top_text ul {
      list-style-type: none;
      color: #FFFFFF;
      margin-top: 40px;
      text-align: center; }
      .wrap_nav_top .wrap_menu_top_text ul li {
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
        letter-spacing: 2px; }
  .wrap_nav_top .box_nav_top_r img {
    width: 200px;
    float: right;
    margin-top: 20px; }
  .wrap_nav_top hr {
    width: 80%;
    height: 1px;
    float: none;
    margin-left: auto;
    margin-right: auto; }

  .wrap_banner {
    height: 300px; }
    .wrap_banner img {
      left: 0px;
      width: 2000px; }

  .wrap_design_process h3 {
    margin-left: 19%; }
  .wrap_design_process .wrap_dp_user {
    margin-left: -120px; }
    .wrap_design_process .wrap_dp_user .up_hig_dp {
      height: 180px; }

  .wrap_function .mockup_nb {
    padding-right: 0px;
    border-right: 0px;
    margin-right: 0px;
    background-size: 120%;
    background-repeat: no-repeat; }
  .wrap_function .posi_function_number {
    margin-left: -48px;
    background-color: transparent;
    position: relative;
    z-index: 100; }
    .wrap_function .posi_function_number .func_a {
      background-color: transparent; }
    .wrap_function .posi_function_number .func_active {
      background-color: #04F3C4; }

  .wrap_tool .c100 {
    font-size: 130px; }

  .wrap_dev_by .img_dev_user {
    min-height: 500px;
    position: relative; }
  .wrap_dev_by .wrap_quote_user {
    position: absolute;
    top: 130px; } }

/*# sourceMappingURL=style_project_detail.css.map */
