$bg_main: #250F59;
$border_1: #422192;
$btn_menu: #04F3C4;
$color_green: #04F3C4;

html, body{
  padding: 0;
  margin: 0;
  border: 0;
  background-color: $bg_main;
}
.row{
  background-color: $bg_main;
}

// icon scroll mouse
.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}
.icon-scroll {
  width: 30px;
  height: 50px;
  margin-left: -20px;
  top: 50%;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
    margin-top: 250px;
}
.icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
          animation-name: scroll;
}
@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
            transform: translateY(46px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
            transform: translateY(46px);
  }
}

// bg-dot-line-effect
#demo-canvas{
  width: 100%;
  float: left;
  position: absolute;
  height: 656px;
  z-index: 0;
  opacity: 1;
    filter: alpha(opacity=50);
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
}
#large-header{
  background: -webkit-radial-gradient(center, ellipse cover, rgba(72,36,163,1) 0%, rgba(37,15,89,1) 63%, rgba(37,15,89,1) 100%);
}

// bg-dot-line-effect
.container-fluid{
  margin-bottom: 100px;
}
::-webkit-scrollbar {
display: none;
}

.video_showreel{
  font-family: 'Titillium Web', sans-serif;
  letter-spacing: 2px;
  height: 80px;
  color: #FFFFFF;
  text-align: right;
  float: right;
  padding-right: 200px;
  margin-top: -550px;
  padding-right: 50px;
}

.menu{
  font-family: 'Titillium Web', sans-serif;
  letter-spacing: 2px;
  width: 100%;
  height: 80px;
  text-align: center;
  color: #FFFFFF;
  margin-left: 27px;
  display: block;
  span{
    display: inline-block;
    padding-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
  }
  hr{
    width: 100%;
    height: 1px;
    border: 0;
    padding: 0;
    margin-top: 25px;
    border-bottom: 1px solid $border_1;
  }
}

.info{
  font-family: 'Titillium Web', sans-serif;
  letter-spacing: 2px;
  margin-left: 60px;
  margin-top: 200px;
  color: #fff;

  h2{
    text-shadow: 0 2px 6px rgba(0,0,0,0.25);
    margin-top: -5px;
    font-family: 'Kanit', sans-serif;
  }
}
.wrap_sec_user_pin{
            position: absolute;
            top: 130px;
            .wrap_user_pinterest{
              float: left;
              width: 150px;
              height: 0;
              // background-color: #FFFFFF;
              border-right: 10px solid transparent;
              border-top: 25px solid #000000;
              position: relative;
              .user_pinterest{
                font-family: 'Titillium Web', sans-serif;
                font-size: 0.8em;
                font-weight: 600;
                color: #FFFFFF;
                position: absolute;
                top: -19px;
                left: 10px;
              }
            }
          }


@media screen and (min-width: 319px) {
  .wrap_nav_top{
    height: 136px;
    .box_nav_top_l{
      height: 100px;
      margin-top: 20px;
      margin-left: 25px;
      img{
        max-width: 80%;
      }
    }
    .box_nav_top_r{
      @extend .box_nav_top_l;
      img{
        max-width: 70%;
        float: right;
        margin-top: 30px;
      }
    }
    hr{
      width: 100%;
      margin-top: 15px;
      border-color: #fff;
      float: left;
    }
  }

  //hide footer
  .bottomMenu {
      position: fixed;
      bottom: 0;
      z-index: 1;
      transition: all 1s;
  }
  .hide {
    opacity:0;
    left:-100%;
}
.show {
    opacity:1;
    left:0;
}


  //banner
  .wrap_banner{
    background-color: $color_green;
    height: 200px;
    overflow: hidden;
    position: relative;
    margin-top: 520px;
    img{
      position: absolute;
      left: -100px;
      width: 1100px;
      height: auto;
    }
  }



  //video showreel player
  .container {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .video-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    pointer-events: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .video-wrap .video-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: black;
  }
  @media screen and (min-width: 400px) {
    .video-wrap .video-inner {
      width: 3vw;
      height: 3vw;
      border: 20px solid #FFF;
      -webkit-transform: rotateZ(-5deg);
              transform: rotateZ(-5deg);
    }
  }
  .video-wrap .video-player {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  @media screen and (min-width: 400px) {
    .video-wrap .video-player {
      left: 50%;
      top: 0;
      width: auto;
      height: 100vh;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
    }
  }
  .video-wrap.video-wrap--show {
    pointer-events: auto;
  }
  .video-wrap.video-wrap--show .action--close {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    -webkit-transition-delay: 1200ms;
            transition-delay: 1200ms;
  }
  .video-wrap.video-wrap--show .video-inner {
    opacity: 1;
  }
  @media screen and (min-width: 400px) {
    .video-wrap.video-wrap--show .video-inner {
      opacity: 0;
      -webkit-animation: showVideo 1250ms forwards;
              animation: showVideo 1250ms forwards;
    }
  }
  @media screen and (min-width: 400px) {
    .video-wrap.video-wrap--hide .video-inner {
      -webkit-animation: hideVideo 1250ms forwards;
              animation: hideVideo 1250ms forwards;
    }
  }

  .content {
    position: relative;
    margin-top: 80px;
  }
  .content .loader {
    font-size: 2.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
            transform: translate3d(-50%, -50%, 0);
    -webkit-transition: opacity 300ms;
    transition: opacity 300ms;
  }
  .video-loaded .content .loader {
    opacity: 0;
    pointer-events: none;
  }

  .action {
    background: none;
    border: none;
    border-radius: 4rem;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    margin: 0;
    padding: 1rem 2rem;
    color: #FFF;
    font-size: 1.5rem;
    font-weight: bold;
    overflow: hidden;
    position: relative;
  }
  .action.action--play {
    display: block;
    margin: 1rem auto;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 300ms;
    transition: opacity 300ms;
  }
  .video-loaded .action.action--play {
    opacity: 1;
    pointer-events: auto;
  }
  .action.action--close {
    position: absolute;
    z-index: 1000;
    top: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    padding: 0;
    opacity: 0;
    -webkit-transform: scale3d(0.7, 0.7, 1);
            transform: scale3d(0.7, 0.7, 1);
    -webkit-transition: opacity 300ms, -webkit-transform 300ms;
    transition: opacity 300ms, -webkit-transform 300ms;
    transition: transform 300ms, opacity 300ms;
    transition: transform 300ms, opacity 300ms, -webkit-transform 300ms;
  }
  .action .action__label {
    display: inline-block;
    margin: 0 0 0 0.75rem;
  }
  .action .action__label.action__label--hidden {
    position: absolute;
    top: 100%;
  }

  @-webkit-keyframes showVideo {
    50% {
      width: 25vw;
      height: 25vw;
      opacity: 1;
      -webkit-transform: rotateZ(-5deg);
              transform: rotateZ(-5deg);
    }
    100% {
      width: 100vw;
      height: 100vh;
      opacity: 1;
      -webkit-transform: rotateZ(0deg);
              transform: rotateZ(0deg);
    }
  }

  @keyframes showVideo {
    50% {
      width: 25vw;
      height: 25vw;
      opacity: 1;
      -webkit-transform: rotateZ(-5deg);
              transform: rotateZ(-5deg);
    }
    100% {
      width: 100vw;
      height: 100vh;
      opacity: 1;
      -webkit-transform: rotateZ(0deg);
              transform: rotateZ(0deg);
    }
  }
  @-webkit-keyframes hideVideo {
    0% {
      width: 100vw;
      height: 100vh;
      opacity: 1;
      -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 0deg);
              transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 0deg);
    }
    100% {
      width: 100vw;
      height: 100vh;
      opacity: 0;
      -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 0deg);
              transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 0deg);
    }
  }
  @keyframes hideVideo {
    0% {
      width: 100vw;
      height: 100vh;
      opacity: 1;
      -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 0deg);
              transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 0deg);
    }
    100% {
      width: 100vw;
      height: 100vh;
      opacity: 0;
      -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 0deg);
              transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 0deg);
    }
  }


  //banner
  .wrap_top_bg{
    background-color: $color_green;
    overflow: hidden;
    position: relative;
    margin-top: -136px;
    height: 650px;
    img{
      position: absolute;
      left: -100px;
      width: 1100px;
      height: auto;
    }
  }

  //concept
  .wrap_concept{
    // background-color: red;
    height: auto;
    padding-bottom: 30px;
    h3{
      font-family: 'Titillium Web', sans-serif;
      font-weight: 600;
      font-size: 2.2em;
      color: #FFFFFF;
      margin-top: 30px;
      margin-bottom: 20px;
      letter-spacing: 3px;
    }
    p{
      text-indent: 2em;
      font-size: 0.9em;
      color: #FFFFFF;
    }
  }

  //design process
  .wrap_design_process{
    @extend .wrap_concept;
    // background-color: $color_green;
    .wrap_dp_user{
      width: auto;
      height: auto;
      // margin: 0px;
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
      outline: none;
      .dp_img_user_a{
        height: auto;
        min-height: 100px;
        float: none;
        background-color: $color_green;
        list-style-type: none;
        display: inline-block !important;
      }
      .dp_img_user_b{
        @extend .dp_img_user_a;
        margin-left: 20px;
      }
    }
  }

  //function
  .wrap_function{
    @extend .wrap_concept;
    // background-color: #ffcc00;
    .mockup_nb{
      // background-color: #FFFFFF;
      min-height: 300px;
      background-image: url("../../image_web/mock_nb.png");
      background-size: cover;
      background-position: center 30px;
    }
    .func_a{
      min-height: 100px;
      cursor: pointer;
      .func_number{
        background-color: transparent;
        background-image: url("../../image_web/func_element.png");
        background-repeat: no-repeat;
        background-position: 50px 15px;
        background-size: 35%;
        height: auto;
        min-height: 70px;
        h4{
          font-family: 'Titillium Web', sans-serif;
          letter-spacing: 2px;
          font-weight: 600;
          color: #FFFFFF;
          font-size: 1.6em;
          margin-left: 35%;
          margin-top: 24%;
        }
      }
      .func_discription{
        background-color: transparent;
        // background-color: #ffcc00;
        margin: 0px;
        // padding: 0px;
        border: 0px;
        h4{
          font-family: 'Titillium Web', sans-serif;
          font-weight: 600;
          letter-spacing: 2px;
          color: #FFFFFF;
        }
        p{
          text-indent: 0px;
          font-size: 0.8em;
        }
      }
    }
    .func_active{
      background-color: $color_green;
      border-radius: 0 10px 10px 0;
      .func_number{
        h4{
          color: #333333;
        }
      }
      .func_discription{
        h4{
          color: #333333;
        }
        p{
          color: #333333;
        }
      }
    }
  }

  //tool develop
  .wrap_tool{
    @extend .wrap_concept;
    background-color: transparent;
    .c100{
      font-size: 65px;
      span{
        font-family: 'Titillium Web', sans-serif;
        font-weight: 600;
        letter-spacing: 2px;
      }
    }
    p{
      font-family: 'Titillium Web', sans-serif;
      font-weight: 600;
      letter-spacing: 2px;
      text-align: left;
      margin-left: -10px;
    }
  }

  //Develop by
  .wrap_dev_by{
    @extend .wrap_concept;
    margin: 0px;
    padding: 0px;
    border: 0px;
    // background-color: #ffcc00;
    .img_dev_user{
      min-height: 250px;
      background-color: #333333;
      overflow: hidden;
      position: relative;
      img{
        max-width: 160%;
        position: absolute;
        height: auto;
        right: -60px;
      }
    }

    .wrap_quote_user{
      background-color: #EF4350;
      height: 60%;
      margin-top: 30px;
      margin-bottom: 20px;
      padding-bottom: 80px;
      h4{
        font-family: 'Titillium Web', sans-serif;
        font-weight: 400;
        font-size: 2em;
        letter-spacing: 2px;
        text-align: left;
        color: #FFFFFF;
        margin-top: 30px;
        margin-left: 20px;
      }
      p{
        font-family: 'Titillium Web', sans-serif;
        font-weight: 400;
        font-size: 1em;
        letter-spacing: 2px;
        text-align: left;
        text-indent: 3em;
        text-transform: uppercase;
        margin-top: 40px;
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }


  // footer
  .wrap_footer{
    height: 100px;
    width: 104%;
    position: fixed;
    bottom: 0;
    // background-color: $bg_main;
    // opacity: 0.9;
    .wrap_r_footer{
      background-color: #000000;
      background: linear-gradient(rgba(255, 255, 255, 0.2), #000000);
      // -webkit-filter: blur(5px);

      height: 100px;
      .wrap_footer_l{
        height: 100px;
        margin: 0px;
        padding: 0px;
        button{
          width: 70px;
          height: 70px;
          margin: 0;
          margin-top: 15px;
          margin-left: 10px;
          border: none;
          background-color: $color_green;
          opacity: 1;
        }
      }
      .wrap_footer_r{
        height: 100px;
        p{
          font-family: 'Titillium Web', sans-serif;
          font-size: 0.8em;
          margin-top: 25px;
          color: #FFFFFF;
        }
        .wrap_topic_footer{
          float: left;
          .topic_footer{
            font-family: 'Titillium Web', sans-serif;
            font-size: 1.2em;
            font-weight: 600;
            color: #FFFFFF;
          }
        }
        .wrap_user_footer{
          float: left;
          width: 80px;
          height: 0;
          // background-color: #FFFFFF;
          margin-left: 10px;
          border-right: 10px solid transparent;
          border-top: 25px solid #FFFFFF;
          position: relative;
          .user_footer{
            font-family: 'Titillium Web', sans-serif;
            font-size: 0.7em;
            font-weight: 600;
            position: absolute;
            top: -19px;
            left: 3px;
          }
        }
      }
    }
  }

  // screen
  .tablet{
    display: none;
  }
}

@media screen and (min-width: 767px) {
  // screen
  .tablet{
    display: block;
  }

  //nav
  .wrap_nav_top{
      .wrap_menu_top_text{
        font-family: 'Titillium Web', sans-serif;
        font-size: 1.2em;
        display: inline-block;
        padding-top: 30px;
        margin-left: 10px;
        margin-right: 10px;
        z-index: 1;

        ul{
          list-style-type: none;
          color: #FFFFFF;
          margin-top: 50px;
          text-align: center;
          li{
            display: inline-block;
            margin-left: 10px;
            margin-right: 10px;
            letter-spacing: 2px;
          }
        }
      }

      .box_nav_top_r{
        img{
          max-width: 100%;
          float: right;
          margin-top: 35px;
        }
      }
      hr{
        width: 80%;
        height: 1px;
        float: none;
        margin-left: auto;
        margin-right: auto;
      }
    }
    //banner
    .wrap_banner{
      background-color: $bg_main;
      img{
        left: 60px;
      }
    }
    //Develop by
    .wrap_dev_by{
      .img_dev_user{
        min-height: 330px;
        img{
          max-width: 100%;
          left: 0;
        }
      }
    }

    //Footer
    .wrap_footer{
      .wrap_r_footer{
        padding-right: 0px;
        .wrap_footer_r{
          p{
            margin-top: 10px;
            font-size: 1.1em;
            padding-top: 10px;
          }
        }
        .foot_email{
          background-color: #34353C;
          height: 100px;
          h4{
            font-family: 'Titillium Web', sans-serif;
            font-size: 0.7em;
            font-weight: 400;
            color: #FFFFFF;
            margin-top: 30px;
            padding: 0px;
            margin: 0px;
            margin-top: 40px;
            margin-left: 20px;
          }
          p{
            font-family: 'Titillium Web', sans-serif;
            font-size: 0.9em;
            font-weight: 400;
            text-transform: uppercase;
            color: #FFFFFF;
            margin-left: 20px;

          }
        }
        .foot_fb{
          @extend .foot_email;
          background-color: #4862A2;
          .wrap_logo_face{
            background-color: transparent;
            img{
              float: right;
              display: block;
              max-width: 90%;
              margin-top: 35px;
              padding: 0px;
            }
          }
          h4{
            margin-left: 0px;
          }
          p{
            margin-left: 0px;
          }
        }
      }
    }


}

@media screen and (min-width: 959px) {
  //nav
  .wrap_nav_top{
      .wrap_menu_top_text{
        font-family: 'Titillium Web', sans-serif;
        font-size: 1.2em;
        margin-top: 20px;
        margin-left: 25px;

        ul{
          list-style-type: none;
          color: #FFFFFF;
          margin-top: 40px;
          text-align: center;
          li{
            display: inline-block;
            margin-left: 10px;
            margin-right: 10px;
            letter-spacing: 2px;
          }
        }
      }

      .box_nav_top_r{
        img{
          // max-width: 60%;
          width: 200px;
          float: right;
          margin-top: 20px;
        }
      }
      hr{
        width: 80%;
        height: 1px;
        float: none;
        margin-left: auto;
        margin-right: auto;
      }
    }

    //banner
    .wrap_banner{
      height: 300px;
      img{
        left: 0px;
        width: 2000px;
      }
    }

    //design precess
    .wrap_design_process{
      h3{
        margin-left: 19%;
      }
      .wrap_dp_user{
        margin-left: -120px;
        .up_hig_dp{
          height: 180px;
        }
      }
    }

    //function
    .wrap_function{
      .mockup_nb{
        padding-right: 0px;
        border-right: 0px;
        margin-right: 0px;
        // background-color: #ffcc00;
        background-size: 120%;
        background-repeat: no-repeat;
      }
      .posi_function_number{
        margin-left: -48px;
        background-color: transparent;
        position: relative;
        z-index: 100;
        .func_a{
          background-color: transparent;
        }
        .func_active{
          background-color: $color_green;
        }
      }
    }

    //tools develop
    .wrap_tool{
      .c100{
        font-size: 130px;
      }
    }

    //Develop by
    .wrap_dev_by{
      .img_dev_user{
        min-height: 500px;
        position: relative;
      }
      .wrap_quote_user{
        position: absolute;
        top: 130px;
      }
    }


}
